body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  bottom:0px;
  height: 100%;
  left: 350px;
  position: absolute;
  right: 0px;
}

#list {
  background: #262626;
  height: 100%;
  left: 0px;
  width: 350px;
  position: absolute;
  padding-left: 50px;
}

h3 {
  color: white;
  font-weight: 50;
  font-size: 1.2em;
  padding: 15px 0;
}

#input {
  width: 255px;
}

ul, li {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-top: 20px;
}